body {
	font-family: 'Fredoka', sans-serif;
	background-image: url(images/bg.jpg);
	background
}
.arava-logo {
	width: 180px;
	filter: opacity(10);

}
.arava-logo:hover{
	width: 180px;
	filter: brightness(2);
	
}
header {
	display: flex;
	justify-content: space-between;

}
ul li  {
	display: inline-block;
	margin-right: 35px;
}
ul li a {
	color: #fff;
	list-style: none;
	font-size: 15px;
	text-decoration: none;

}
.spotlight-text {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}
.spotlight-text-under {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}
.search-button {
	margin-top: 30%;
	width: 190px;
	height: 50px;
	font-size: 23px;
	border-radius: 17px;
	border-color: transparent;
	background: #1d8ad3;
	color: #fff;
}
.search-button:hover {
	margin-top: 30%;
	width: 190px;
	height: 50px;
	font-size: 23px;
	border-radius: 17px;
	border-color: transparent;
	background: #6763dd;
	color: #fff;
}