body {
	font-family: 'Fredoka', sans-serif;
	background-color: #121212;
}
.arava-logo {
	width: 180px;
	filter: opacity(10);

}
.arava-logo:hover{
	width: 180px;
	filter: brightness(2);
	
}
header {
	display: flex;
	justify-content: space-between;

}
ul li  {
	display: inline-block;
	margin-right: 35px;
}
ul li a {
	color: #fff;
	list-style: none;
	font-size: 15px;
	text-decoration: none;

}
.spotlight-text {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}
.spotlight-text-under {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}
.search-button {
	margin-top: 30%;
	width: 190px;
	height: 50px;
	font-size: 23px;
	border-radius: 17px;
	border-color: transparent;
	background: #1d8ad3;
	color: #fff;
}
.search-button:hover {
	margin-top: 30%;
	width: 190px;
	height: 50px;
	font-size: 23px;
	border-radius: 17px;
	border-color: transparent;
	background: #6763dd;
	color: #fff;
}
.search {
	height: 40px;
    width: 450px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: -1px 1px 20px 6px rgb(0 102 255 / 91%);
}
.searchresult {
	height: 40px;
	width: 100px;
	background-color: #721197;
}

#myUL {
  list-style-type: none;
  padding: 100px;
  margin: 0;
  text-align: center;
  margin-top: -65px;


}
.searchdiv {
	margin-top: 20px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #EB6DDE;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 6px;
  display: block

}
#myUL li a:hover{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #D0A6E5;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 6px;
  display: block

}
.videoplay {
	 width: 940px; 
	 height: 480px;
	 border-radius: 17px;
	 border-color: transparent;
}
.moviename {
	font-size: 30px;
	color: #ff3866;
	text-align: center;
}